@import "tailwindcss";

:root {
  --font-mukta: "Mukta", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --font-sans: var(--font-mukta);
  --font-mono: var(--font-poppins);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .font-nepali {
    font-family: var(--font-mukta), sans-serif;
  }

  .font-english {
    font-family: var(--font-poppins), sans-serif;
  }
}
